{% load i18n %}
<div{% if preview %} id="comment-preview"{% else %} id="c{{ comment.id }}"{% endif %} class="comment">
  {% block comment_item %}
    {% if preview %}<p class="comment-preview-label">{% trans "Preview of your comment" %}</p>{% endif %}
    <p class="comment-meta">
      <span class="comment-author">{% if comment.url %}<a href="{{ comment.url }}" rel="nofollow">{% endif %}{% if comment.name %}{{ comment.name }}{% else %}{% trans "Anonymous" %}{% endif %}{% if comment.url %}</a>{% endif %}</span>
      <time class="comment-date" datetime="{{ comment.submit_date|date:'c' }}">{% blocktrans with submit_date=comment.submit_date %}on {{ submit_date }}{% endblocktrans %}</time>
      {% if edited %}<span class="comment-edited-flag">({% trans "edited" %})</span>{% endif %}
      {% if request.user.is_staff and not comment.is_public %}<span class="comment-moderated-flag">({% trans "moderated" %})</span>{% endif %}
      {% if USE_THREADEDCOMMENTS and not preview %}<a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment-reply-link">{% trans "reply" %}</a>{% endif %}
      {% if can_edit or can_delete %}
        <span class="comment-author-actions">
          {% if can_edit %}<a href="#c{{ comment.id }}" class="comment-edit-link" data-comment-id="{{ comment.id }}" data-edit-action="{% url 'comments-edit-comment-ajax' %}">{% trans "edit" %}</a>{% endif %}
          {% if can_delete %}<a href="#c{{ comment.id }}" class="comment-delete-link" data-comment-id="{{ comment.id }}" data-delete-action="{% url 'comments-delete-comment-ajax' %}">{% trans "delete" %}</a>{% endif %}
        </span>
      {% endif %}
    </p>
    <div class="comment-text">{{ comment.comment|linebreaks }}</div>
    {% if can_edit %}<textarea class="comment-raw" hidden>{{ comment.comment }}</textarea>{% endif %}
  {% endblock %}
</div>
